.container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.box {
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-text: center;
}

.headshot {    
    width: 90%;
    height: 90%;
    float: center;
    object-fit: cover;
    border: 1px solid #000;
}

.name {
}

.linkedin {

}
