.event-dropdown {
    position: relative;
    display: block;
}

.schedule-dropdown-content {
    display: none;
}

.schedule-btn-dropdown {
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--appleRed);
    border-radius: 25px;
    transition: 2s all;
}


.schedule-btn-dropdown:hover {
    border-color: var(--deepOceanBlue);
    
}

.schedule-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.schedule-event {
    pointer-events: none;
    justify-content: space-around;
}

.show-dropdown {
    display: block;
}