.event-dropdown {
    position: relative;
    display: block;
}

.event-dropdown-content {
    display: none;
}

.event-dropdown:hover .event-dropdown-content {
    display: block;
    height: 0;
    animation: 5s smooth-drop;
}

.schedule-container {
    display: grid;
    grid-template-columns: 50% 50%;
}