.event-dropdown {
    position: relative;
    display: block;
}

.schedule-dropdown-content {
    display: none;
}

.schedule-btn-dropdown {
    width: 100%;
    background-color: var(--appleRed);
    border: 2px solid var(--appleRed);
    border-radius: 25px;
    transition: 2s all;
}

.schedule-event-headings {
    width: 100%;
}

.schedule-btn-dropdown:hover {
    color: var(--white);
    border-color: var(--deepOceanBlue);
    background-color: var(--deepOceanBlue);
}

.schedule-container {
    display: grid;
    grid-template-rows: 50% 50%;
}

.schedule-event {
    pointer-events: none;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.schedule-day-title {
    width: 100%;
    border: 4px solid var(--samonOrange);
    background-color: var(--samonOrange);
    border-radius: 25px;
}

.show-dropdown {
    display: block;
}