---
layout: default
---

{% include hero.html %}

<section class="about">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
      {{ site.event.about.description | markdownify }}
    </div>
  </div>
</section>

<section>
  {% include count_down.html %}
</section>

<section class="info" id="category">
  <div class="container">
    <div class="items row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
		<div class="description">
			{{ site.event.info.description | markdownify }}
		</div>
	</div>
      {% for section in site.event.info.sections %}
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="item">
            <img src="{{ section.image }}" />
            <h1>{{ section.title }}</h1>
            <p>{{ section.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="volunteering-info">
  <div class="">
    {% include volunteering_section.html %}
  </div>
</section>

{% if site.event.display_schedule == "true" %}
  <section class="info">
    <div class="container">
      {% include day_of_schedule.html %}
    </div>
  </section>
{% endif %}

<section class="faq" id="faq">
  <div class="container">
    <h1 class="text-center">FAQ</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.data.faq.faqs %}
        <div class="question col-xs-12 col-sm-12">
          <button onclick="triggerDropdown(event)" class="dropdown-btn homepage-dropdown-btn">
            <h2 class="clickthrough">
              <p class="inline">{{ item.question }}</p>
              <div class="inline">+</div>
            </h2>
            <div class="dropdown-content homepage-dropdown-content">
              {{ item.answer | markdownify }}
            </div>
          </button> 
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="faq" id="rule">
  <div class="container">
    <h1 class="text-center">Rules</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.faq %} 
          <div class="question col-xs-12 col-sm-12">
            <h2>{{ item.question }}</h2>
            <hr>
            {{ item.answer | markdownify }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </section>

<section class="faq" id="sponsor">
  <div class="container">
    <h1 class="text-center">Sponsors</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.faq %} 
          <div class="question col-xs-12 col-sm-12">
            <h2>{{ item.question }}</h2>
            <hr>
            {{ item.answer | markdownify }}
          </div>
        {% endfor %}
      </div>
    </div>
    </div>
</section>
