<h1 class="clock-header text-center">
    Days Until HenHacks!
</h1>
<div class="clock">
    <div></div>
    <div class="clock-container">
        <div class="clock-element-container text-center">
            <p class="clock-element-label">Days</p>
            <p id="days" class="clock-element"></p>
        </div>
        <div class="clock-element-container text-center">
            <p class="clock-element-label">Hours</p>
            <p id="hours" class="clock-element"></p>
        </div>
        <div class="clock-element-container text-center">
            <p class="clock-element-label">Minutes</p>
            <p id="minutes" class="clock-element"></p>
        </div>
        <div class="clock-element-container text-center">
            <p class="clock-element-label">Seconds</p>
            <p id="seconds" class="clock-element"></p>
        </div>
    </div>
    <div></div>
</div>









<script>
    // this date is hardcoded for now, but should be moved into the site config file
    const startDate = new Date("2024", "2", "2", "10");

    const setClock = (startDate) => {
        var time = startDate.getTime() - Date.now();
            
        // calculating time until
        var daysUntil = Math.floor(time / (1000 * 60 * 60 * 24));
        var hoursUntil = Math.floor((time % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutesUntil = Math.floor((time % (1000 * 60 * 60)) / (1000 * 60));
        var secondsUntil = Math.floor((time % (1000 * 60)) / 1000);
        // console.log(`Months: ${monthsUntil}`,`Days: ${daysUntil}`,`Hours: ${hoursUntil}`,`MinutesUntil: ${minutesUntil}`,`Seconds: ${secondsUntil}`)
        
        // get every element inside the clock by id
        document.getElementById("days").textContent = `${daysUntil}`;
        document.getElementById("hours").textContent = `${hoursUntil}`;
        document.getElementById("minutes").textContent = `${minutesUntil}`;
        document.getElementById("seconds").textContent = `${secondsUntil}`;
    }
    
    // the clock continues to "countdown" until the start date is in the past
    // while(startDate - Date.now() > 0) {
        setClock(startDate);
        setInterval(function() {
            setClock(startDate);
        }, 1000);
    // }
    
</script>