<!-- schedule layout skeleton -->
<h1 class="text-center">Schedule</h1>
<div class="schedule-container">
    {% for day in site.data.schedule_layout.schedule %}
        <!-- day container -->
        <div class="day-schedule-container">
            <h2 class="text-center" >{{day.name}}</h2>
            {% for main_event in day.events %}
                <!-- sub-event info -->
                <div class="event-dropdown text-center">
                    <h3>{{main_event.time}} {{main_event.name}}</h3></br>
                    {% for sub_event in main_event.sub-events %}
                        <div class="sub-event event-dropdown-content text-center">
                            <p>{{sub_event.time}} {{sub_event.name}}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
